<h1>Editing book</h1>

<% if @books.errors.any? %>
<div class="flash-alart">
 <h2><%= @books.errors.count %>errors prohibited this book from being saved:</h2>
 <ul>
     <% @books.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
 </ul>
 </div>
<% end %>

<%= form_with model: @books,url: update_book_path , method: :patch do |f| %>

<p class="form">Title</p>
<%= f.text_field :title %>

<p class="form">Body</p>
<%= f.text_area :body %>

<p class="submit"><%= f.submit 'Update Book' %></p>

<% end %>

<span><%= link_to "Show",book_path(@books.id) %></span>
&nbsp;|&nbsp;
<span><%= link_to "Back",books_path %></span>