<h1>Books</h1>
    
<table>
    
    <tr>
    <th>Title</th><th>Body</th>
    </tr>
    <% @lists.each do |list| %>
    <tr>
        <td><%= list.title %></td>
        <td><%= list.body %></td>
        <td><%= link_to "Show",book_path(list.id) %></td>
        <td><%= link_to "Edit",edit_book_path(list.id) %></td>
        <td><%= link_to "Destroy",destroy_book_path(list.id), method: :DELETE ,"data-confirm" => "Are you sure?" %></td>
    <% end %>
</table>

<h2>New book</h2>
<%= form_with model: @book, url: '/books',　method: :post do |f| %>

<p class="form">Title</p>
<%= f.text_field :title %>

<p class="form">Body</p>
<%= f.text_area :body %>

<p class="submit"><%= f.submit 'Create Book' %></p>

<% end %>
